<STYLE TYPE="text/css">
body{}
body {background-color:#ffcc00 ;font-family:verdana}
.tabla {background-color:#FFFF99; font-size:10pt;border-width:1px; border-color:black}
.alerta {background-color:red;font-size:14px;color:white ;font-weight:bolder}
.titulo {background-color:#C0C0FF;font-size:14px;color:#000000 ;font-weight:bolder}
th {background-color:#C0C0FF}
</style>

