
<script language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
 
<table width="100%" cellspacing="1">
  <tr> 
    <td colspan=2 align=left class="titu_secciones" height="14" bgcolor="#003366"> 
      <font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"><b>Datos 
      del DNS</b></font> <a href="javascript:;" onClick="MM_openBrWindow('/ayuda/ventana_datos_reg.html#dns','ayuda','scrollbars=yes,width=300,height=400')"><img src="/imagenes/ico_ayuda2.gif" width="16" height="16" align="absmiddle" border="0" alt="Ayuda"></a> 
    </td>
  </tr>
  <tr> 
    <td align=left class="titu_secciones_com" height="12">&nbsp;</td>
    <td align=left class="titu_secciones_com" height="45"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#FF0000">ATENCI&Oacute;N: 
      Solo son validas DNS en formato de nombre del tipo xxx.DOMINIO.xxx. No pueden 
      utlizarse valores IPs o nombres que no sean de dominio validos. </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo" width="145"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
      DNS 1&deg;:</b></font></td>
    <td class="td_form_valor"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FF0000"> 
      <input name="fqdn1" size=32 value="{{fqdn1}}">
      </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>DNS 
      2&deg;:</b></font></td>
    <td class="td_form_valor"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FF0000"> 
      <input name="fqdn2" size=32 value="{{fqdn2}}">
      </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>DNS 
      3&deg;:</b></font></td>
    <td class="td_form_valor"> <font color="#FF0000" face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
      <input name="fqdn3" size=32 value="{{fqdn3}}">
      **opcional </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo" height="26"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>DNS 
      4&deg;:</b></font></td>
    <td class="td_form_valor" height="26"> <font color="#FF0000" face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
      <input name="fqdn4" size=32 value="{{fqdn4}}">
      **opcional </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>DNS 
      5&deg;:</b></font></td>
    <td class="td_form_valor"> <font color="#FF0000" face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
      <input name="fqdn5" size=32 value="{{fqdn5}}">
      **opcional </font></td>
  </tr>
  <tr> 
    <td align=right bgcolor="#FFCC00" class="td_form_titulo"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>DNS 
      6&deg;:</b></font></td>
    <td class="td_form_valor"> <font color="#FF0000" face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
      <input name="fqdn6" size=32 value="{{fqdn6}}">
      **opcional </font></td>
  </tr>
  <tr> 
    <td colspan=2 align=center><img src="/imagenes/shim.gif" width="4" height="10"></td>
  </tr>
</table>
