<form name='formulario' method='post' action='/clientes/login.php'>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td align="center"><img src="/imagenes/registrado.gif" width="95" height="12">
<br>
<a href="/afiliados.php">{{cliente}}</a></td>
    </tr>
    <tr> 
      <td align="center"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FF0000"> 
        <input type="hidden" name="action" value="logout">
        <input type=hidden name=volver value="{{volver}}">

</font></td>
    </tr>
    <tr> 
      <td align="center"> 
        <input type="image" src='/imagenes/salir.gif' align='middle' border='0' name='buscar2'>
      </td>
    </tr>
  </table>
</form>
