<table border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td><img name="izs" src="http://www.nombremania.com/imagenes/marco/izs.gif" width="9" height="9" border="0"></td>
    <td background="http://www.nombremania.com/imagenes/marco/mea.gif"><img name="mea" src="http://www.nombremania.com/imagenes/marco/mea.gif" width="82" height="9" border="0"></td>
    <td><img name="des" src="http://www.nombremania.com/imagenes/marco/des.gif" width="9" height="9" border="0"></td>
  </tr>
  <tr> 
    <td background="http://www.nombremania.com/imagenes/marco/izm.gif" width="9"><img name="izm" src="http://www.nombremania.com/imagenes/marco/izm.gif" width="9" height="43" border="0"></td>
    <td> 
      <form name='formulario' method='post' action='http://www.nombremania.com/dominator.php'>
        <table border='0' cellspacing='0' cellpadding='2' align="right">
          <tr> 
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Buscar 
              nuevo dominio</font></td>
          </tr>
          <tr> 
            <td valign='middle' align="left" class="body_10"> 
              <input type="hidden" name="affiliate_id" value="<? echo $affiliate_id?>">
              <input type="hidden" name="action" value="lookup">
              <input type='text' name='domain' size='20' maxlength=67>
              <input type="image" src='http://www.nombremania.com/imagenes/buscar.gif' align='middle' border='0' name='buscar2' width="68" height="26">
            </td>
          </tr>
        </table>
      </form>
    </td>
    <td background="http://www.nombremania.com/imagenes/marco/dem.gif"><img name="dem" src="http://www.nombremania.com/imagenes/marco/dem.gif" width="9" height="43" border="0"></td>
  </tr>
  <tr> 
    <td><img name="izb" src="http://www.nombremania.com/imagenes/marco/izb.gif" width="9" height="9" border="0"></td>
    <td background="http://www.nombremania.com/imagenes/marco/meb.gif"><img name="meb" src="http://www.nombremania.com/imagenes/marco/meb.gif" width="82" height="9" border="0"></td>
    <td><img name="deb" src="http://www.nombremania.com/imagenes/marco/deb.gif" width="9" height="9" border="0"></td>
  </tr>
</table>
