a:active {  text-decoration: overline; color: #000099}
a:link {  text-decoration: underline; color: #CC6602}
a:hover {  text-decoration: overline; color: #8285A1}
a:visited {  text-decoration: underline; color: #663300}
.body_9 {  font: 9px/11px Verdana, Arial, Helvetica, sans-serif; color: #333333}
.body_10 {  font: 10px/12px Verdana, Arial, Helvetica, sans-serif; color: #333333}
body {  font: 10px Verdana, Arial, Helvetica, sans-serif}
.input9 { font: 9px/9px Verdana, Arial, Helvetica, sans-serif; text-indent: 1pt}
.select9 { font: lighter 9px/9px Verdana, Arial, Helvetica, sans-serif; background-color: #CCCCCC}
textarea { font: 10px/11px Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF; text-indent: 1pt}
input { font: 10px/120% Verdana, Arial, Helvetica, sans-serif; color: #000033; text-indent: 1px}
select { font: 9px Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF; text-indent: 1px; color: #000000}
.input9gris { font: 9px/9px Verdana, Arial, Helvetica, sans-serif; text-indent: 1pt; background-color: #CCCCCC; border-style: none}
.inputgris { text-indent: 1pt; background-color: #CCCCCC; font-family: Verdana, Arial, Helvetica, sans-serif; border-style: none}
tbody {  font: 10px Verdana, Arial, Helvetica, sans-serif}
.td_form_titulo {  font: 9px Verdana, Arial, Helvetica, sans-serif; color: #666666; background-color: #F0F0F0}
.td_form_valor { font: 10px/12px Verdana, Arial, Helvetica, sans-serif; color: #000000; background-color: #DDDFE4}
table {  font: 10px Verdana, Arial, Helvetica, sans-serif}
.titu_pags_previo {  font: 400 normal 10px/13px Verdana, Arial, Helvetica, sans-serif; color: #666666; letter-spacing: 0.02em}
.titu_pags { font: 900 normal 12px/16px Verdana, Arial, Helvetica, sans-serif; color: #000066; border-color: black black orange #CCCCCC; border-style: groove; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 0px}
.mini {  font: normal xx-small Verdana, Arial, Helvetica, sans-serif; color: #666666}
.hr_surco { border-style: groove; border-bottom-width: 2px}
.error {  font: 800 12px "Courier New", Courier, mono; color: #990000; text-decoration: blink}
.titu_secciones { font: bold normal 10px/11px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; border-color: black black orange #CCCCCC; background-color: #000099; border-style: groove; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 0px; text-transform: uppercase; text-indent: 4pt}
.input_radios {  font: 10px Verdana, Arial, Helvetica, sans-serif; color: #000066; border: #000099}
.ayuda_forms {  font: normal 9px/12px Verdana, Arial, Helvetica, sans-serif; color: #666666; text-align: right}
.input_dominio { font: 10px/120% Verdana, Arial, Helvetica, sans-serif; color: #000066; text-indent: 1px ; background-image: url(/imagenes/input.gif); background-color: #FFFFFF; background-position: left}
.body_11 { font: 600 11px/13px Verdana, Arial, Helvetica, sans-serif}
.matches {  font: 800 10px Verdana, Arial, Helvetica, sans-serif; color: #CC0000}
.titu_secciones_com { font: normal 9px/10px Verdana, Arial, Helvetica, sans-serif; color: #333333}
.td_form_valor2 { font: 10px/12px Verdana, Arial, Helvetica, sans-serif; color: #000000; background-color: #CADEE4}
.desde {  border: 2px #006600 ridge; color: #003300}
.hasta { border: 2px #990000 ridge; color: #990000}
.input_tip {  font: 9px/10px Verdana, Arial, Helvetica, sans-serif; background-color: #FFFFFF; border: #333333; border-style: ridge; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
