<http>
<head>
<title>Whois de Nombremania</title>
</head>

<body  bgcolor=#FFCC00>
<table width="500" border="0" cellspacing="1" cellpadding="6">
  <tr> 
    <td bgcolor="#FFFFFF" align="center"><!-- #BeginLibraryItem "/Library/banner.lbi" --><!--tabla banner -->
<table width="520" border="0" bgcolor="#CCCCCC" height="61"><tr><td align=center>
<!--banner zona NM general -->
<iframe src='http://linux.alsur.es/phpads/adframe.php?what=zone:4&target=new&refresh=25' framespacing='0' frameborder='no' scrolling='no' width='468' height='60'><script language='JavaScript' src='http://linux.alsur.es/phpads/adjs.php?what=zone:4&target=new&withText=0'></script><noscript><a href='http://linux.alsur.es/phpads/adclick.php' target='new'><img src='http://linux.alsur.es/phpads/adview.php?what=zone:4&target=new&withText=0' border='0'></a></noscript></iframe>
</td></tr></table>
<!-- #EndLibraryItem --></td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF" align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#333333"><img src="/imagenes/logochico.gif" width="102" height="16" hspace="4" align="left">Resultado 
      de la consulta</font></td>
  </tr>
  <tr> 
    <td bgcolor="#FFFFFF"> 
      <pre><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#666666">
$RESULT$
</font></pre>
    </td>
  </tr>
</table>
</body>
</html>

