<HTML><!-- #BeginTemplate "/Templates/nm2_manage.dwt" --><!-- DW6 -->
<HEAD>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<!-- #BeginEditable "doctitle" -->
<title>Nombremania - Registro de dominios</title>
<script type="text/javascript">
function cambiar_tipo(t)
{
	if(t=='webparking')	document.forms[1].hasta.disabled=true;
	else	document.forms[1].hasta.disabled=false;
}
</script>
<!-- #EndEditable -->
<SCRIPT language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
// funcion en javascript para cambiar el contenido de un DIV
function cambiar_innertext(texto){
// info es el nombre del DIV (cambiar por el div valido) 
// theValue es el valor a enviar desde la llamada 
//  llamadas tipicas onMouseOver="cambiar_innertext('texto para llemar el DIV')" onMouseOut="cambiar_innertext('')"
	document.getElementById('info').innerHTML = texto; 
}
function MM_callJS(jsStr) { //v2.1
  return eval(jsStr)
}
//-->

</SCRIPT>
<meta name="title" content="NombreMania - registro y traslado de dominios - en tus dominios solo mandas tu">
<meta name="description" content="Nunca fue tan facil registrar y trasladar dominios. En NombreMania ofrecemos registro de dominios al mejor precio, en espa&ntilde;ol y con las herramientas m&aacute;s potentes de administraci&oacute;n.">
<meta name="keywords" content="registro de dominios, registrar dominios, dominios, traslado, renovar, registro dominios espa&ntilde;ol">
<meta name="language" content="Spanish">
<meta name="author" content="AlSur">
<meta name="copyright" content="El Sur Existe s.l.">
<meta name="revisit-after" content="30 days">
<meta name="document-classification" content="Internet Services">
<meta name="document-rights" content="Copyrighted Work">
<meta name="document-type" content="Public">
<meta name="document-rating" content="General">
<meta name="Abstract" content="Nunca fue tan facil registrar y trasladar dominios. En NombreMania ofrecemos registro de dominios al mejor precio, en espa&oacute;ol y con las herramientas m&aacute;s potentes de administracio&acute;n.">
<meta name="Target" content="registro de dominios, registrar dominios, dominios, traslado, renovar, registro dominios espa&oacute;ol">
<meta http-equiv="Content-Language" content="ES">
<link rel="stylesheet" href="/Templates/nm2_base_manage.css" type="text/css">
</HEAD>
<body bgcolor="#ffcc00" onLoad="MM_preloadImages('/imagenes/base3/simbolo_f2.gif','/imagenes/base3/logo_f2.gif','/imagenes/base3/registrar_f2.gif','/imagenes/base3/trasladar_f2.gif','/imagenes/base3/administrar_f2.gif','/imagenes/base3/comprar_f2.gif','/imagenes/base3/alquiler_f2.gif','/imagenes/base3/demo_f2.gif','/imagenes/base3/precios_f2.gif','/imagenes/base3/afiliados_f2.gif','/imagenes/base3/ayuda_f2.gif','/imagenes/base3/whois_f2.gif')">
<table border="0" cellpadding="0" cellspacing="0" width="740" align="center">
  <tr> 
    <td><img src="/imagenes/base3/spacer.gif" width="12" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="3" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="23" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="3" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="29" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="62" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="55" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="4" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="39" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="8" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="36" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="77" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="77" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="89" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="10" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="73" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="70" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="56" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="14" height="1" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2" bgcolor="#ffffff"><img src="/imagenes/base3/cortearriba.gif" width="12" height="14" border="0"></td>
    <td rowspan="5" colspan="2"><img name="simbolo" src="/imagenes/base3/simbolo.gif" width="26" height="42" border="0" alt="registro de dominios"></td>
    <td><img name="corteb_arriba" src="/imagenes/base3/corteb_arriba.gif" width="3" height="5" border="0" alt="registro de dominios"></td>
    <td colspan="3" bgcolor="#ffffff"><img src="/imagenes/base3/corteb_abajo.gif" width="146" height="5" border="0"></td>
    <td rowspan="2"><img name="cortearriba" src="/imagenes/base3/cortearriba.gif" width="4" height="14" border="0" alt="registro de dominios"></td>
    <td rowspan="2" colspan="11" bgcolor="#ffffff"><img src="/imagenes/base3/cortearriba.gif" width="549" height="14" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="5" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="3" colspan="4"><a href="http://www.nombremania.com" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('simbolo','','/imagenes/base3/simbolo_f2.gif','logo','','/imagenes/base3/logo_f2.gif',1);" ><img name="logo" src="/imagenes/base3/logo.gif" width="149" height="27" border="0" alt="NombreMania - registro de dominios"></a></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="9" border="0"></td>
  </tr>
  <tr> 
    <td><img name="slice_r3_c1" src="/imagenes/base3/slice_r3_c1.gif" width="12" height="15" border="0" alt="registrar "></td>
    <td><img name="cortemedio" src="/imagenes/base3/cortemedio.gif" width="4" height="15" border="0" alt="registro de dominios"></td>
    <td colspan="3"><img name="slice_r3_c9" src="/imagenes/base3/cortemedio.gif" width="83" height="15" border="0" alt="registro de dominios"></td>
    <td><a href="http://www.nombremania.com/registrar.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('registrar','','/imagenes/base3/registrar_f2.gif',1);" ><img name="registrar" src="/imagenes/base3/registrar.gif" width="77" height="15" border="0" alt="Registra uno o varios dominios"></a></td>
    <td><a href="http://www.nombremania.com/trasladar.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('trasladar','','/imagenes/base3/trasladar_f2.gif',1);" ><img name="trasladar" src="/imagenes/base3/trasladar.gif" width="77" height="15" border="0" alt="Traslada tu dominio a NombreMania "></a></td>
    <td><a href="http://admin.nombremania.com" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('administrar','','/imagenes/base3/administrar_f2.gif',1);" ><img name="administrar" src="/imagenes/base3/administrar.gif" width="89" height="15" border="0" alt="Gestiona tus dominios"></a></td>
    <td><img name="slice_r3_c15" src="/imagenes/base3/cortemedio.gif" width="10" height="15" border="0" alt="registro de dominios"></td>
    <td><a href="http://www.nombremania.com/comprar.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('comprar','','/imagenes/base3/comprar_f2.gif',1);" ><img name="comprar" src="/imagenes/base3/comprar.gif" width="73" height="15" border="0" alt="Dominios en venta"></a></td>
    <td><a href="http://www.nombremania.com/alquilar.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('alquiler','','/imagenes/base3/alquiler_f2.gif',1);" ><img name="alquiler" src="/imagenes/base3/alquiler.gif" width="70" height="15" border="0" alt="Los dominios tambon se alquilan"></a></td>
    <td><a href="http://www.nombremania.com/demos/index.html" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('demo','','/imagenes/base3/demo_f2.gif',1);" ><img name="demo" src="/imagenes/base3/demo.gif" width="56" height="15" border="0" alt="Demos del sistema"></a></td>
    <td><img name="slice_r3_c19" src="/imagenes/base3/cortemedio.gif" width="14" height="15" border="0" alt="registro de dominios"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="15" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2" bgcolor="#ffffff"><img src="/imagenes/base3/corteabajo.gif" width="12" height="13" border="0" alt="dominios"></td>
    <td rowspan="2"><img name="corteabajo" src="/imagenes/base3/corteabajo.gif" width="4" height="13" border="0" alt="registro de dominios"></td>
    <td rowspan="2" colspan="11" bgcolor="#ffffff"><img src="/imagenes/base3/corteabajo.gif" width="549" height="13" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="3" border="0"></td>
  </tr>
  <tr> 
    <td><img name="corteb_abajo" src="/imagenes/base3/corteb_abajo.gif" width="3" height="10" border="0" alt="registro de dominios"></td>
    <td colspan="3" bgcolor="#ffffff"><img src="/imagenes/base3/corteb_abajo.gif" width="146" height="10" border="0"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="10" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="2" bgcolor="#FFFFFF"><img name="iz" src="/imagenes/base3/iz.gif" width="12" height="16" border="0" alt="registro de dominios"></td>
    <td rowspan="2" colspan="4" bgcolor="#FFFFFF"><a href="http://www.nombremania.com/precios.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('precios','','/imagenes/base3/precios_f2.gif',1);" ><img name="precios" src="/imagenes/base3/precios.gif" width="58" height="16" border="0" alt="Precios y tarifas"></a></td>
    <td rowspan="2" bgcolor="#FFFFFF"><a href="http://www.nombremania.com/afiliados.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('afiliados','','/imagenes/base3/afiliados_f2.gif',1);" ><img name="afiliados" src="/imagenes/base3/afiliados.gif" width="62" height="16" border="0" alt="Programa de afiliados"></a></td>
    <td rowspan="2" bgcolor="#FFFFFF"><a href="http://www.nombremania.com/ayuda/index.html" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('ayuda','','/imagenes/base3/ayuda_f2.gif',1);" ><img name="ayuda" src="/imagenes/base3/ayuda.gif" width="55" height="16" border="0" alt="Ayuda y documentacin"></a></td>
    <td rowspan="2" colspan="2" bgcolor="#FFFFFF"><a href="http://www.nombremania.com/whois/index.php" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('whois','','/imagenes/base3/whois_f2.gif',1);" ><img name="whois" src="/imagenes/base3/whois.gif" width="43" height="16" border="0" alt="Consulta nuestro Whois"></a></td>
    <td rowspan="2" bgcolor="#FFFFFF"><img name="slice_r6_c10" src="/imagenes/base3/slice_r6_c10.gif" width="8" height="16" border="0" alt="registro de dominios"></td>
    <td rowspan="2" colspan="8" bgcolor="#FFFFFF" align="right" class="body_10"><b><font size="2" color="#FF0000">PANEL 
      DE CONTROL</font></b></td>
    <td rowspan="2" bgcolor="#FFFFFF"><img name="derecho" src="/imagenes/base3/derecho.gif" width="14" height="16" border="0" alt="registro de dominios"></td>
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="12" border="0"></td>
  </tr>
  <tr> 
    <td><img src="/imagenes/base3/spacer.gif" width="1" height="4" border="0"></td>
  </tr>
</table>
<table bgcolor="#ffcc00" border="0" cellpadding="0" cellspacing="0" width="740" align="center">
  <!-- fwtable fwsrc="Nuevabase_izq_ok1.png" fwbase="nm2_base.gif" fwstyle="Dreamweaver" fwdocid = "1425088159" fwnested="0" -->
  <tr bgcolor="#FFFFFF"> 
    <td width="15"><img src="/imagenes/base2/slice_r4_c1.gif" width="15" height="1" border="0"></td>
    <td width="6"><img src="/imagenes/base2/spacer.gif" width="6" height="1" border="0"></td>
    <td width="8"><img src="/imagenes/base2/spacer.gif" width="8" height="1" border="0"></td>
    <td width="5"><img src="/imagenes/base2/spacer.gif" width="5" height="1" border="0"></td>
    <td width="4"><img src="/imagenes/base2/spacer.gif" width="4" height="1" border="0"></td>
    <td width="12"><img src="/imagenes/base2/spacer.gif" width="12" height="1" border="0"></td>
    <td width="9"><img src="/imagenes/base2/spacer.gif" width="9" height="1" border="0"></td>
    <td width="39"><img src="/imagenes/base2/spacer.gif" width="39" height="1" border="0"></td>
    <td width="9"><img src="/imagenes/base2/spacer.gif" width="9" height="1" border="0"></td>
    <td width="33"><img src="/imagenes/base2/spacer.gif" width="33" height="1" border="0"></td>
    <td width="10"><img src="/imagenes/base2/spacer.gif" width="10" height="1" border="0"></td>
    <td width="31"><img src="/imagenes/base2/spacer.gif" width="31" height="1" border="0"></td>
    <td width="120"><img src="/imagenes/base2/spacer.gif" width="120" height="1" border="0"></td>
    <td width="57"><img src="/imagenes/base2/spacer.gif" width="57" height="1" border="0"></td>
    <td width="15"><img src="/imagenes/base2/spacer.gif" width="15" height="1" border="0"></td>
    <td width="60"><img src="/imagenes/base2/spacer.gif" width="60" height="1" border="0"></td>
    <td width="12"><img src="/imagenes/base2/spacer.gif" width="12" height="1" border="0"></td>
    <td width="76"><img src="/imagenes/base2/spacer.gif" width="76" height="1" border="0"></td>
    <td width="25"><img src="/imagenes/base2/spacer.gif" width="25" height="1" border="0"></td>
    <td width="58"><img src="/imagenes/base2/spacer.gif" width="58" height="1" border="0"></td>
    <td width="10"><img src="/imagenes/base2/spacer.gif" width="10" height="1" border="0"></td>
    <td width="53"><img src="/imagenes/base2/spacer.gif" width="53" height="1" border="0"></td>
    <td width="18"><img src="/imagenes/base2/spacer.gif" width="18" height="1" border="0"></td>
    <td width="41"><img src="/imagenes/base2/spacer.gif" width="41" height="1" border="0"></td>
    <td width="14"><img src="/imagenes/base2/corteder.gif" width="14" height="1" border="0"></td>
    <td width="1"><img src="/imagenes/base2/spacer_naranja.gif" width="1" height="1" border="0"></td>
  </tr>
  <tr> 
    <td rowspan="3" height="150" bgcolor="#FFFFFF" background="/imagenes/base2/corteizq.gif" valign="bottom"><img name="esq_izq_abajo" src="/imagenes/base2/esq_izq_abajo.gif" width="15" height="21" border="0" alt="registro de dominios"></td>
    <td colspan="23" height="400" bgcolor="#FFFFFF" valign="top"><br>
      <table width="710" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="180" valign="top" class="body_9" bordercolor="#999966"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3" tbody="Verdana, Arial">
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/llave.gif" width="16" height="14" border="0" hspace="4"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"> 
                  <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/cgi-bin/nm/managesp.cgi?action=manage_profile" onMouseOver="cambiar_innertext('Contrase&ntilde;a, usuarios adicionales, etc')" onMouseOut="cambiar_innertext('')"><b>Administraci&oacute;n
                  de Perfil</b></a></font></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" colspan="2"><img src="/imagenes/base3/spacer.gif" width="5" height="4"> 
                </td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/datos_titular.gif" width="14" height="11" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/cgi-bin/nm/managesp.cgi?action=modify_contact&type=owner" onMouseOver="cambiar_innertext('Datos de la organizacion titular del dominio')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Datos 
                  del Titular</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"> 
                </td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" height="12" align="center"><img src="/imagenes/ico_manage/datos_administracion.gif" width="14" height="11" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" height="12" class="body_9"><b> 
                  <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/cgi-bin/nm/managesp.cgi?action=modify_contact&type=admin" onMouseOver="cambiar_innertext('Contacto designado como autorizado para realizar cambios')" onMouseOut="cambiar_innertext('')">Datos 
                  de Administraci&oacute;n</a></font></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/datos_facturacion.gif" width="14" height="11" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/cgi-bin/nm/managesp.cgi?action=modify_contact&type=billing" onMouseOver="cambiar_innertext('Contacto responsable de los asuntos de facturaci&oacute;n y renovaciones del dominio')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Datos 
                  de Facturaci&oacute;n</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/datos_tecnico.gif" width="14" height="11" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/cgi-bin/nm/managesp.cgi?action=modify_contact&type=tech" onMouseOver="cambiar_innertext('Contacto para temas relacionados a alojamiento, correo, DNS, etc')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Contacto 
                  T&eacute;cnico</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center" valign="middle"><img src="/imagenes/ico_manage/telnet.gif" width="10" height="11" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/cgi-bin/nm/managesp.cgi?action=modify_nameservers" onMouseOver="cambiar_innertext('Servidor de nombres primario/secundario del ISP o empresa que hospeda el dominio')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Servidores 
                  de Nombres</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/redireccion.gif" width="14" height="14" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/nm/zonas/index.php?domain={{DOMAIN_NAME}}&adv=0" onMouseOver="cambiar_innertext('Configuraci&oacute;n de redirecciones WebForward y MailForward de dominios PRO')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Redirecciones</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/dns_av.gif" width="14" height="14" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/nm/zonas/index.php?domain={{DOMAIN_NAME}}&adv=1" onMouseOver="cambiar_innertext('Gestion integral de DNS por dominios PRO avanzado')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">DNS 
                  Avanzada </font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/venta.gif" width="12" height="14" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><a href="/nm/venta/index_alquiler.php?op=agregar&dominio={{DOMAIN_NAME}}" onMouseOver="cambiar_innertext('Ponga a la venta o alquiler su dominio en nombremania')" onMouseOut="cambiar_innertext('')">Alquiler</a></b> 
                  / <b><a href="/nm/venta/index.php?op=agregar&dominio={{DOMAIN_NAME}}" onMouseOver="cambiar_innertext('Ponga a la venta o alquiler su dominio en nombremania')" onMouseOut="cambiar_innertext('')">Venta</a></b></font></td>
              </tr>
              <tr> 
                <td colspan="2" background="/imagenes/base3/cortemedio.gif"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/base3/cortemedio.gif" width="3%" align="center"><img src="/imagenes/ico_manage/salir2.gif" width="14" height="14" border="0" hspace="3"></td>
                <td background="/imagenes/base3/cortemedio.gif" class="body_9"><b><a href="/cgi-bin/nm/managesp.cgi?action=logout" onMouseOver="cambiar_innertext('Vinculo seguro para abandonar el sistema')" onMouseOut="cambiar_innertext('')"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Salir</font></a></b></td>
              </tr>
              <tr> 
                <td colspan="2"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr> 
                <td background="/imagenes/fondotablas2.gif" width="3%" align="center" valign="top"><img src="/imagenes/ico_manage/info.gif" width="12" height="13" border="0" hspace="3"></td>
                <td background="/imagenes/fondotablas2.gif" class="body_10"> 
                  <div align="left" id="info"></div>
                </td>
              </tr>
              <tr> 
                <td colspan="2"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><!-- #BeginEditable "columna_ab" --> <!-- #EndEditable --></td>
              </tr>
            </table>
            <p>&nbsp;</p>
          </td>
          <td width="10" valign="top"><img src="/imagenes/base2/spacer.gif" width="10" height="8" border="0"></td>
          <td width="520" valign="top" class="body_11" height="430"> 
            <table border=0 cellpadding=2 cellspacing=1 width=520>
              <tr> 
                <td align=right bgcolor="#FFCC00" class="td_form_titulo" width="345"> 
                  <font face="verdana, arial" color=ffffff size=2> <font color="#000000" class="td_form_titulo">Administrando 
                  el dominio:</font><font size="3" color="#000000"> </font> </font> 
                </td>
                <td align=right bgcolor="#FFCC00" class="td_form_valor" width="197"><font face="verdana, arial" size="3" color="#FF0000" class="body_11">{{DOMAIN_NAME}}</font></td>
              </tr>	  
<!--usamos el tag especial para eliminar de la plantilla los valores que no se procesan desde PHP... alquiler, venta -->
<!-- BEGIN NO -->		  
              <tr> 
                <td align=left valign="top" width="345" class="td_form_valor"> 
                  <div align="left"><font face="verdana, arial" size="1">{{LAST_ACCESS}}</font></div>
                </td>
                <td align=right valign="top" width="197" class="td_form_valor"> 
                  <div align="right"><font face="verdana, arial" size=1>Caduca 
                    el:</font> <font face="verdana, arial" size=1>{{EXPIREDATE}} 
                    </font></div>
                </td>
              </tr>
              <tr> 
                <td align=left valign="top" colspan="2"><img src="/imagenes/base3/spacer.gif" width="5" height="4"></td>
              </tr>
              <tr align="center"> 
                <td valign="middle" colspan="2" class="td_form_valor2"> 
                  <!-- Only Show if they have additional domains -->
                  <font face="verdana, arial" size=1>{{SEARCH_BOX}}</font>
                </td>
              </tr>
              <tr> 
                <td align=left valign="top" colspan="2" bgcolor="#FFFFCC"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="error">{{MESSAGE}}</font></td>
              </tr>
			  		  
<!-- END NO -->
              <tr>
                <td align=left valign="top" colspan="2"><img src="/imagenes/base3/spacer.gif" width="5" height="6"></td>
              </tr>
              <tr>
                <td align=left valign="top" colspan="2"><!-- #BeginEditable "contenido" -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr valign="top">
                      <td align="left">
                        <table border="0" cellspacing="2" cellpadding="3" width="100%">
                          <tr> 
                            <td><img src="/nm/imagenes/titular_adminzonas.gif" width="520" height="32"></td>
                          </tr>
                          <tr valign=top> 
                            <td class="body_10"> 
                              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#CC0000"><b>!Atenci&oacute;n!</b></font><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                - Recuerda que las redirecciones y gesti&oacute;n 
                                de zonas tiene un consumo total (sumando redirecciones 
                                web y de correo) limitado a un m&aacute;ximo de 
                                200 MB por a&ntilde;o contratado (equivalente 
                                a aprox. 1 mill&oacute;n de peticiones a la DNS). 
                                Si su dominio excede de este consumo, deber&aacute; 
                                contratar un nuevo tramo de 200 MB para continuar 
                                con sus servicios de redirecci&oacute;n.</font></p>
                            </td>
                          </tr>
                          <tr> 
                            <td class="body_10"><br>
                              <font face="Verdana, Arial, Helvetica, sans-serif" color="#CC0000" size="2"> 
                              {{texto}} </font></td>
                          </tr>
                        </table>
                        <form method=POST action=procesazonas.php>
                          <table border=0 width=100% cellspacing="1" cellpadding="2" >
                            <tr> 
                              <td colspan=5 bgcolor="#000066" class="titu_secciones"><a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html','ayuda','width=350,height=400')"><img src="/nm/imagenes/help3.gif" width="14" height="14" align="right" border="0"></a>WebForward&reg;<br>
                                Redirecciones 
                                Web Activadas<span class="body_11"><font color="#FFFFFF" size="1"><i> 
                                (m&aacute;ximo {{total_wf}} ) </i></font></span> 
                              </td>
                            </tr>
                            <tr bgcolor="#CCCCCC"> 
                              <td colspan="5" class="td_form_titulo" bgcolor="#CCCCCC"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
                                Webforward&reg; es una tecnolog&iacute;a que permite, 
                                por ejemplo, redirigir tu dominio a una p&aacute;gina 
                                personal o gratuita (como geocities, etc). En 
                                el caso de p&aacute;ginas de parking lo que se 
                                mostrar&aacute; es un modelo fijo de p&aacute;gina 
                                seg&uacute;n elija. </font></td>
                            </tr>
                            <tr> 
                              <td colspan="5"><img src="/nm/imagenes/spacer.gif" width="5" height="5"></td>
                            <tr> 
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b>Dominio</b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b><a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html','ayuda','width=350,height=400')"><img src="/nm/imagenes/ayuda.gif" width="12" height="12" align="right" border="0" name="ayuda_tipo"></a>Tipo</b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b>Redirigido 
                                a</b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b>Borrar</b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b><a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html#disimulado','ayuda','width=350,height=400')"><img src="/nm/imagenes/ayuda.gif" width="12" height="12" align="right" border="0" name="ayuda_tipo"></a>Disimulada</b></td>
                            </tr>
                            <input type=hidden name=dominio value="{{DOMAIN_NAME}}">
                            <!-- BEGIN webforwards -->
                            <tr> 
                              <td class="td_form_valor" bgcolor="#FFFFFF"> <a href="http://{{desde_wf}}.{{DOMAIN_NAME}}" target="nueva">{{desde_wf}}.{{DOMAIN_NAME}}</a> 
                              </td>
							  
                              <td class="td_form_valor" bgcolor="#FFFFFF"> {{tipo_wf}} 
                              </td>
                              <td class="td_form_valor" bgcolor="#FFFFFF"> {{hasta_wf}} 
                              </td>
                              <td class="td_form_valor" bgcolor="#FFFFFF" align="center"> 
                                {{borrar_wf}} </td>
                              <td class="td_form_valor" bgcolor="#FFFFFF"> {{disimulada}} 
                              </td>
                            </tr>
                            <!-- END webforwards -->
                            <!-- BEGIN BORRAR_WF -->
                            <tr> 
                              <td colspan=2 align=left class="body_9"> <a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html#metas','ayuda','width=350,height=400')"><img src="/nm/imagenes/help3.gif" width="14" height="14" align="right" border="0"></a><a href="metas.php">Definicion 
                                de palabras claves para usar con WebForward&reg; 
                                y textos de Webparking</a></td>
                              <td colspan=3 align=right class="body_10"> 
                                <input type=submit value=" Borrar Seleccionadas " name=tarea>
                              </td>
                            </tr>
                            <!-- END BORRAR_WF -->
                          </table>
       
                        </form>
<!-- BEGIN AGREGAR_WF -->
                        <form action=procesazonas.php method=post>
                          <table  border=0>
                            <tr bgcolor="#CCCCCC"> 
                              <td class="td_form_titulo" colspan="2"><b>A&Ntilde;ADIR 
                                NUEVA</b></td>
                            </tr>
                            <tr bgcolor="#FFFFFF" > 
                              <td class="body_10" colspan="2"><font color="red" face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                {{error_wf}} </font></td>
                            </tr>
                            <tr bgcolor=#D0D0D0 valign="top"> 
                              <td align="right" valign="middle" class="td_form_valor"> 
                                <input type=text size=10 name=desde>
                                .{{DOMAIN_NAME}}</td>
                              <td class="td_form_valor" valign="middle"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                <select name="tipo" onChange="cambiar_tipo(this.value)" >                                {{a_tipos}}                                                                                                                                  
                                </select>
                                </font></td>
                            <tr bgcolor=#D0D0D0 valign="top"> 
                              <td align="right" class="body_10">&nbsp;</td>
                              <td class="td_form_valor"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                <input type=text size=28 name=hasta>
                                <br>
                                introduce una URL completa del tipo &quot;http://www.abc.com/pagina&quot;
								<br>* Si elige Parking, este campo se ignorar&aacute;</font></td>
                            <tr bgcolor=#D0D0D0 valign="top"> 
                              <td align="right" class="body_10">&nbsp;</td>
                              <td class="td_form_valor"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                </font><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                <input type=checkbox name=disimulada value=on>
                                Activar como redirecci&oacute;n <b>disimulada</b> 
                                </font><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html#disimulado','ayuda','width=350,height=400')"><img src="/nm/imagenes/ayuda.gif" width="12" height="12" border="0" name="ayuda_tipo"></a></b></font></td>
                            <tr> 
                              <td align=right class="body_10" colspan=2> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                                <input type=submit value="Agregar / Modificar redireccion" name=tarea>
                                </font></td>
                            </tr>
                            <tr> 
                              <td colspan=2 class="body_10">&nbsp;</td>
                            </tr>
                          </table>
                          <!-- END AGREGAR_WF -->
                          
                        </form>
                        <form action=procesa_mailforward.php method=post>
                          <table border=0 cellspacing="1" cellpadding="2" width=100%>
                            <tr> 
                              <td colspan=3 bgcolor="#000066" class="titu_secciones"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><a href="javascript:;" onClick="MM_openBrWindow('http://www.nombremania.com/ayuda/ventana_redireccion.html#mailforward','ayuda','width=350,height=400')"><img src="/nm/imagenes/help3.gif" width="14" height="14" align="right" border="0"></a></b></font>MailForward&reg;<b><br>
                                </b>Redirecciones de correo activadas (m&aacute;ximo 
                                {{total_mf}} )</td>
                            </tr>
                            <tr bgcolor="#CCCCCC"> 
                              <td class="td_form_titulo" colspan="3"><b><br>
                                MailForward&reg;</b> es una tecnolog&iacute;a 
                                que permite que recibas <b>e-mails dirigidos a 
                                tu dominio a cualquier buz&oacute;n actual</b> 
                                o al de tu provedor de acceso a internet. De este 
                                modo podras redirigir el correo destinado a <i>gertrudis@ 
                                <?=$dominio?>
                                </i> a <i>miubuzon@terra.es</i>. Para ello deber&aacute;s 
                                insertar una direcci&oacute;n de email valida 
                                y seguir leyendo tu correo a trav&eacute;s de 
                                tu buzon y servidores POP actuales. </td>
                            </tr>
                            <tr> 
                              <td colspan="3"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><img src="/nm/imagenes/spacer.gif" width="5" height="4" border="0" name="ayuda_tipo"></font></b></td>
                            </tr>
                            <tr> 
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1"></font>Mail 
                                dirigidos a </b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b>Se 
                                reenviar&aacute;n a</b></td>
                              <td class="td_form_titulo" bgcolor="#CCCCCC"><b>Borrar</b></td>
                            </tr>
                            <!-- BEGIN MAILFORWARD -->
                            <tr> 
                              <td class="td_form_valor" height="14" bgcolor="#FFFFFF"> 
                                {{desde_mf}}@ {{DOMAIN_NAME}} </td>
                              <td class="td_form_valor" bgcolor="#FFFFFF"> {{hasta_mf}} 
                              </td>
                              <td class="td_form_valor" bgcolor="#FFFFFF"> {{borrar_mf}} 
                              </td>
                            </tr>
                            <!-- END MAILFORWARD -->
                            <!-- BEGIN BORRAR_MF -->
                            <tr> 
                              <td colspan=3 align=right class="body_10"> 
                                <input type=submit value=" Borrar Seleccionados " name=tarea>
                              </td>
                            </tr>
                            <!-- END BORRAR_MF -->
                          </table>
                        </form>
<!-- BEGIN AGREGAR_MF -->
                        <form action=procesa_mailforward.php method=post>
                          <table border=0 width=100%>
                            <tr> 
                              <td colspan=3 bgcolor="#CCCCCC" class="td_form_titulo"><b>Agregar 
                                Mailforward</b></td>
                            </tr>
                            <tr bgcolor="#FFFFFF" > 
                              <td colspan=3 class="body_10"><font color=red> {{error_mf}} 
                                </font></td>
                            </tr>
                            <tr> 
                              <td bgcolor="#D0D0D0" align="right" colspan="2" class="body_10"> 
                                <input type=text size=12 name=desde>
                                @ 
                                <?=$dominio?>
                              </td>
                              <td bgcolor="#D0D0D0" class="body_10"> se reenviar&aacute; 
                                a 
                                <input type=text size=30 name=hasta>
                              </td>
                            </tr>
                            <tr> 
                              <td colspan=3 align=right class="body_10" > 
                                <input type=submit name=tarea value=" Agregar redireccion ">
                                <br>
                              </td>
                            </tr>
                            <!-- END AGREGAR_MF -->
                            <tr> 
                              <td colspan=3 class="body_10" > 
                                <p><b><font color="#CC0000">NOTA: </font></b>Normalmente 
                                  los cambios que realices estar&aacute;n activos 
                                  en menos de un minuto, si bien, algunos ISP 
                                  (proveedores de acceso a internet) tienen guardadas 
                                  las configuraciones de dns m&aacute;s usadas 
                                  en cache y estos cambios pueden demorarse hasta 
                                  varias horas. El tiempo de aplicaci&oacute;n 
                                  efectiva depender&aacute; de la DNS que utilice 
                                  tu conexi&oacute;n a internet. Esta configuraci&oacute;n 
                                  requiere de unos registros MX a nuestro servidor 
                                  de nombres que ser&aacute;n creados automaticamente.<br>
                                  <br>
                                  <br>
                                </p>
                              </td>
                            </tr>
                          </table>
                        </form>
                      </td>
                    </tr>
                  </table>
                  <!-- #EndEditable --></td>
              </tr>
            </table>
            <p>
          </td>
        </tr>
      </table>
      <p class="body_10">&nbsp;</p> </td>
    <td rowspan="3" height="150" bgcolor="#FFFFFF" background="/imagenes/base2/corteder.gif" valign="bottom"><img name="esq_der_abajo" src="/imagenes/base2/esq_der_abajo.gif" width="14" height="21" border="0" alt="registro de dominios"></td>
    <td width="1" height="150"><img src="/imagenes/base2/spacer.gif" width="1" height="8" border="0"></td>
  </tr>
  <tr> 
    <td colspan="23" bgcolor="#FFFFFF" valign="bottom"><!-- #BeginEditable "Pie de pgina" --><!-- #BeginLibraryItem "/Library/nm2_pie_generico.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td valign="middle"><p class="mini">Tus <a href="http://www.golfinspain.com/esp/?utm_source=nombremania&utm_medium=link&utm_content=footer&utm_campaign=sitios">viajes de golf</a> en GolfinSpain.com · <a href="http://alsur.es">hecho alsur </a></p></td>
    <td valign="middle" align="right">
      <table border="0" cellspacing="0" cellpadding="0" class="mini">
        <tr> 
          <td align="right"> <font face="Verdana, Arial" size="1" color="#666666"><span class="mini">[<a class="mini"  href="/registrar.php">registrar</a>] 
            [<a href="/trasladar.php">trasladar</a>] [<a href="http://admin.nombremania.com">administrar</a>] 
            [<a href="/ayuda/">ayuda</a>]</span></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32785580-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><!-- #EndLibraryItem --><!-- #EndEditable --></td>
    <td width="1"><img src="/imagenes/base2/spacer.gif" width="1" height="13" border="0"></td>
  </tr>
  <tr> 
    <td width="6"><img name="abajo1" src="/imagenes/base2/abajo1.gif" width="6" height="8" border="0" alt="registro de dominios"></td>
    <td width="8"><img name="abajo" src="/imagenes/base2/abajo.gif" width="8" height="8" border="0" alt="registro de dominios"></td>
    <td colspan="21"><img name="ko_abajo" src="/imagenes/base2/ko_abajo.gif" width="697" height="8" border="0" alt="registro de dominios"></td>
    <td width="1"><img src="/imagenes/base2/spacer.gif" width="1" height="8" border="0"></td>
  </tr>
</table>
</body>
<!-- #EndTemplate --></HTML>
